   <header>
<br>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <h4 class="font-weight-bold p-1 mb-2 bg-light"><span>商品一覧</span></h4>
        <ul class="navbar-nav ml-auto">
          <h1><%= link_to "⊕", new_admin_item_path,class: "font-weight-bold p-1 mb-2 text-secondary " %> </h1>
        </ul>
      </div>
    </div>
  </nav>
</header>