<header>
<br>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <h4 class="font-weight-bold p-1 mb-2 bg-light"><span>商品一覧</span></h4>
        <ul class="navbar-nav ml-auto">
          <h1><%= link_to "⊕", new_admin_item_path,class: "font-weight-bold p-1 mb-2 text-secondary " %> </h1>
        </ul>
      </div>
    </div>
  </nav>
</header>

<br>
<body>
  <table class="table table-striped">
   <nav class="navbar navbar-expand-lg navbar-dark">
    <ul class="navbar-nav col-md-4 margin:auto">
    <div class="container text-left">
      <h4 class="font-weight-bold p-1 mb-2 bg-light">商品ID</h4>
      <h4 class="font-weight-bold p-1 mb-2 bg-light">商品名</h4>
    </div>
    <div class="container text-center">
      <h4 class="font-weight-bold p-1 mb-2 bg-light">中央</h4>
      <h4 class="font-weight-bold p-1 mb-2 bg-light">中央</h4>
    </div>
    </ul>
    
  </nav>
  </table>
</body>
